.but {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #90aaff;
  }
  
  .but-text {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }